---
layout: default
---

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="images/logo.png" alt="" /></a>
					<ul>
						<li><a href="javascript:">#프론트앤드개발</a></li>
						<li><a href="javascript:">#디자인</a></li>
						<li><a href="javascript:">#기획</a></li>
						<li class="enter"><a href="javascript:">#JS/Jquery</a></li>
						<li><a href="javascript:">#CSS</a></li>
						<li><a href="javascript:">#HTML</a></li>
						<li class="enter"><a href="javascript:">#모바일</a></li>
						<li><a href="javascript:">#반응형웹</a></li>
						<li class="enter"><a href="javascript:">#홈페이지</a></li>
						<li><a href="javascript:">#워드프레스</a></li>
						<li class="enter"><a href="javascript:">#카페24</a></li>
						<li><a href="javascript:">#메이크샵</a></li>
						<li><a href="javascript:">#쇼핑몰</a></li>
						<li class="enter"><a href="javascript:">#기타</a></li>
						<li><a href="javascript:">#인쇄디자인</a></li>
					</ul>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>About me.</h2>
						</header>
						<p>
							안녕하세요. 권주희입니다. <br>
							어떻게하면 약소한 실력을 활용하여 만족 할 만한 사이트를 만들까 매일 고민하고 있으며,<br>
							참여한 모든 프로젝트와, 내손으로 만든 모든 사이트를 아끼고 끝까지 책임감으로 돌보려 합니다.<br>
							기획자로, 디자이너로, 마크업개발자로, 현재는 워드프레스로 좀더 나은 서비스를 제공하고자 열심히 공부하고 있습니다.<br>
							가족과 친구, 동물과 꽃을 사랑하며, 사진과 커피를 좋아하는 저의 소박한 삶을, 저를 믿고 일하는 사람들과 함께 공유하고 싶습니다.<br>
							만나서 반갑습니다!
						</p>
						<ul class="actions hide">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</section>

				<!-- Two -->
					<section id="two">
						<h2>Recent Work</h2>
						<div class="row">
							<article class="6u 12u$(xsmall) work-item">
								<a href="images/fulls/01.jpg" class="image fit thumb"><img src="images/thumbs/01.jpg" alt="" /></a>
								<h3>Magna sed consequat tempus</h3>
								<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
							</article>
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="images/fulls/02.jpg" class="image fit thumb"><img src="images/thumbs/02.jpg" alt="" /></a>
								<h3>Ultricies lacinia interdum</h3>
								<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="images/fulls/03.jpg" class="image fit thumb"><img src="images/thumbs/03.jpg" alt="" /></a>
								<h3>Tortor metus commodo</h3>
								<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
							</article>
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="images/fulls/04.jpg" class="image fit thumb"><img src="images/thumbs/04.jpg" alt="" /></a>
								<h3>Quam neque phasellus</h3>
								<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="images/fulls/05.jpg" class="image fit thumb"><img src="images/thumbs/05.jpg" alt="" /></a>
								<h3>Nunc enim commodo aliquet</h3>
								<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
							</article>
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="images/fulls/06.jpg" class="image fit thumb"><img src="images/thumbs/06.jpg" alt="" /></a>
								<h3>Risus ornare lacinia</h3>
								<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
							</article>
						</div>
						<ul class="actions">
							<li><a href="#" class="button">Full Portfolio</a></li>
						</ul>
					</section>
  <div>
    <header>
      <ul class="tabs">
        <li class="tabs__item">Posts</li>
        <li class="tabs__item">Categories</li>
      </ul>
    </header>

    <div class="tab">
      <ul itemscope itemtype="http://schema.org/Blog">
        {% for post in paginator.posts %}
          <li class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <a class="preview__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
              <span class="preview__date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</span>
              <h2 class="preview__header" itemprop="name">{{ post.title }}</h2>
              <p class="preview__excerpt" itemprop="description">{{ post.content | strip_html | truncatewords: 30 }}</p>
              <span class="preview__more">Read More</span>
            </a>
          </li>
        {% endfor %}
      </ul>

      {% if paginator.total_pages > 1 %}
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Previous</a>
          {% endif %}

          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next</a>
          {% endif %}
        </div>
      {% endif %}

      {% include archive-link.html %}
    </div>

    {% include categories-tab.html %}

  </div>
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="inform">
						<li>&copy; DS</li>
						<li>010.3312.6692&nbsp;&nbsp;|&nbsp;&nbsp;</li>
						<li>kjuhee0712@gmail.com&nbsp;&nbsp;|&nbsp;&nbsp;</li>
						<li>Kwon Ju Hee&nbsp;&nbsp;|&nbsp;&nbsp;</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>