---
layout: default
---

<!-- Main -->
<div id="right">
	<!-- One -->
	<section id="one">
		<header class="major">
			<h4>Whatever it takes</h4>
			<h2>I'll do it.</h2>
		</header>
		<p>
			재택근무를 우선으로 비대면 업무를 진행하고<br>
			가까운 위치의 회사를 수시로 왔다갔다하며 필요 시 미팅을 하고자 합니다.<br>
			저의 업무는 충분한 커뮤니케이션이 이뤄진다는 전제하에<br>
			결과물을 만들어내는데 혼자의 시간이 필요하기 때문에<br>
			집에서 충분히 효율적으로 업무를 수행할 수 있으리라 예상되기 때문입니다.<br>
			위 근무 조건이 앞으로 펼쳐질 비대면 시대에 큰 지장이 없으시리라 감히 말씀드리며,<br>
			귀사에서 필요한 포지션에 제가 적합시다면<br>
			진솔하게 일과 인생을 함께 생각하고있는 저와 함께 해 주시면 감사하겠습니다.
		</p>
		<ul class="actions hide">
			<li><a href="#" class="button">Learn More</a></li>
		</ul>
	</section>

	<!-- Two -->
	<section id="two">
		<h2>Recent Work</h2>
		<div class="post_row">
			{% for post in paginator.posts %}
			<article class="6u 12u$(xsmall) preview" itemprop="blogPost">
				<a href="{{ post.url | prepend: site.baseurl }}" class="image fit thumb" itemprop="url"><img src="{{ post.image-sm }}" alt="" /></a>
				<a href="{{ post.url | prepend: site.baseurl }}" class="txt" itemprop="url">					
					<h3 class="preview__header" itemprop="name">{{ post.title }}</h3>
					<p class="preview__date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y년 %-m월부터 약 %-d개월 이내 완료" }}</p>
					<!-- <p class="preview__excerpt" itemprop="description">{{ post.description }}</p> -->
				</a>
				<ul class="preview__category">
					{% for categories in post.categories %}
						<li><a href="/category/{{ categories }}/"># {{ categories }}</a> </li>	    
					{% endfor %}
				</ul>
			</article>
			{% endfor %}					
		</div>
	</section>					
</div>		
