<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="inform">
				<li>&copy; DS</li>
				<li>010.3312.6692&nbsp;&nbsp;|&nbsp;&nbsp;</li>
				<li>kjuhee0712@gmail.com&nbsp;&nbsp;|&nbsp;&nbsp;</li>
				<li>Kwon Ju Hee&nbsp;&nbsp;|&nbsp;&nbsp;</li>
			</ul>
		</div>
	</footer>

<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.poptrox.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
	<script type="text/javascript" src="{{ '/assets/js/app.js' | prepend: site.baseurl }}"></script>