<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>

  <body>
    <!-- Header -->
      <header id="header">
        <div class="inner">
          <a href="#" class="image avatar"><img src="images/logo.png" alt="" /></a>
          <ul>
            <li><a href="javascript:">#프론트앤드개발</a></li>
            <li><a href="javascript:">#디자인</a></li>
            <li><a href="javascript:">#기획</a></li>
            <li class="enter"><a href="javascript:">#JS/Jquery</a></li>
            <li><a href="javascript:">#CSS</a></li>
            <li><a href="javascript:">#HTML</a></li>
            <li class="enter"><a href="javascript:">#모바일</a></li>
            <li><a href="javascript:">#반응형웹</a></li>
            <li class="enter"><a href="javascript:">#홈페이지</a></li>
            <li><a href="javascript:">#워드프레스</a></li>
            <li class="enter"><a href="javascript:">#카페24</a></li>
            <li><a href="javascript:">#메이크샵</a></li>
            <li><a href="javascript:">#쇼핑몰</a></li>
            <li class="enter"><a href="javascript:">#기타</a></li>
            <li><a href="javascript:">#인쇄디자인</a></li>
          </ul>
        </div>
      </header>

    <div>
      {{ content }}  
    </div>
    
    

<!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <ul class="inform">
        <li>&copy; DS</li>
        <li>010.3312.6692&nbsp;&nbsp;|&nbsp;&nbsp;</li>
        <li>kjuhee0712@gmail.com&nbsp;&nbsp;|&nbsp;&nbsp;</li>
        <li>Kwon Ju Hee&nbsp;&nbsp;|&nbsp;&nbsp;</li>
      </ul>
    </div>
  </footer>

<!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.poptrox.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="assets/js/main.js"></script>

    {% include analytics.html %}
  </body>
</html>
