---
layout: default
---
<div id="main">

  <section class="section-padding post" itemprop="articleBody">
    <h2>{{ page.title }}</h2>
    {{ content }}
  </section>



  {% if page.previous.url %}
    <section class="next">
      <a class="next__link" href="{{page.previous.url | prepend: site.baseurl }}" style="background-image: url('{{ page.previous.image }}');">
        <div class="next__container">
          <span><< previous</span>
          <h2>{{page.previous.title}}</h2>
        </div>
      </a>
    </section>
  {% endif %}

   {% if page.next.url %}
    <div class="next">
        <span>Next >></span>
        <a  href="{{page.next.url | prepend: site.baseurl }}"  class="image fit thumb" itemprop="url"><img src="{{ page.next.image-sm }}" alt="" /></a>
        <a href="{{page.next.url | prepend: site.baseurl }}" class="txt" itemprop="url">
          <span class="preview__date" itemprop="datePublished" datetime="{{ page.next.date | date_to_xmlschema }}">{{ page.next.date | date: "%b %-d, %Y" }}</span>
          <h3 class="preview__header" itemprop="name">{{ page.next.title }}</h3>
          <p class="preview__excerpt" itemprop="description">{{ page.next.content | strip_html | truncatewords: 10 }}</p>                  
        </a>        
    </div>
    {% endif %}
    {% if page.prev.url %}
    <div class="prev">
        <span><< Prev</span>
        <a  href="{{page.prev.url | prepend: site.baseurl }}"  class="image fit thumb" itemprop="url"><img src="{{ page.prev.image-sm }}" alt="" /></a>
        <a href="{{page.prev.url | prepend: site.baseurl }}" class="txt" itemprop="url">
          <span class="preview__date" itemprop="datePublished" datetime="{{ page.prev.date | date_to_xmlschema }}">{{ page.prev.date | date: "%b %-d, %Y" }}</span>
          <h3 class="preview__header" itemprop="name">{{ page.prev.title }}</h3>
          <p class="preview__excerpt" itemprop="description">{{ page.prev.content | strip_html | truncatewords: 10 }}</p>                  
        </a>        
    </div>
  {% endif %}

</div>